/* SELECTOR {
    transition-property: value;
} */


body {
    background-image: url(IM8);
    background-size: cover;
}

img {
    width: 250px;
    height: 300px;
    margin: 5px;
    transition: all 1s;
}

img:hover {
    transform: scale(1.1);
}